<script type="text/template" id="viewRocket">
    <td class="name" contenteditable="true"><%- name %></td>
    <td class="form-horizontal">
        <button data-rel="-10" class="changeSize btn btn-small btn-primary">-</button>
        <input class="size" type="number" value="<%- size %>" style="width: 40px;">
        <button data-rel="10" class="changeSize btn btn-small btn-success">+</button>
    </td>
    <td class="desc" contenteditable="true"><%- description %></td>
    <td>
        <button class="deleteRow btn btn-small btn-danger"><i class="icon-remove icon-white">X</i></button>
    </td>
</script>