<% layout('./layout/page') -%>
<% block('title', 'gps') -%>

<p class="lead">gps.ejs</p>
<% if (user) { %>
<p>name:<%=user.username%></p>
<% }; %>

<script src="/vendor/bower_components/socket.io-client/socket.io.js"></script>
<script src="/backboneModels/Models.js"></script>
<script src="/backboneModels/Collection.js"></script>
<script src="/backboneModels/Templater.js"></script>
<script src="/backboneModels/Router.js"></script>
<script src="/backboneModels/View.js"></script>


<!--<div id="room">-->
    <!--<button id="add" class="btn btn-success">add model</button>-->
    <!--<button id="sync" class="btn btn-success">sync</button>-->
    <!--<li><a href="#help">help</a></li>-->
    <!--<li><a href="#search/p1/p2">search</a></li>-->
<!--</div>-->
<div id="gpsModel"></div>

<script>
    $(function() {
        _.templateSettings = {
            interpolate : /\{\{(.+?)\}\}/g
        };
        var gpsModel = new app.GpsModel({});
        var view = new app.GpsView({
            model: gpsModel,
            el: '#gpsModel'
        });

    });
</script>

<script type="text/template" id="gpsTpl">
    Name:
    <span class="name" contenteditable="true">{{ name }}</span>
    <div class="form-horizontal">
        <button data-rel="-10" class="changeSize btn btn-small btn-primary">-</button>
        <input class="size" type="number" value="{{ size }}" style="width: 70px;"/>
        <button data-rel="10" class="changeSize btn btn-small btn-success">+</button>
        Remove:
        <button class="deleteRow btn btn-small btn-danger"><i class="icon-remove icon-white">X</i></button>
    </div>
    Description:
    <span class="desc" contenteditable="true">{{ desc }}</span>
</script>
