<% layout('./layout/page') -%>
<% block('title', 'map') -%>

<% if (user) { %>
<p>name:<%=user.username%></p>
<% }; %>

<style>
    #map-canvas, #map{
        height: 300px;
        width: 1000px;
        margin: 0px;
        padding: 0px
    }
</style>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript" src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU"></script>

<button class="btn btn-success addGoogleRoute">add google route</button>
<button class="btn btn-success addYandexRoute">add yandex route</button>

<script>
$(function() {
    //$('.addRoute').on('click', createGoogleMap);
//    $('.addRoute').on('click', createYandexMap);
//
//    createYandexMap();
//
//    function createYandexMap() {
    ymaps.ready(init);
    var myMap;

    function init() {
        ymaps.load(['package.route', 'package.search']);
        var geolocation = ymaps.geolocation;
        var startEditing = false;
        var button = $('#editor');

        var myMap = new ymaps.Map('map', {
            center: [geolocation.latitude, geolocation.longitude],
            zoom: 10,
            behaviors: ["default", "scrollZoom"]
        });


        myMap.controls.add('zoomControl', {
            left: 5,
            top: 5
        });

        myMap.controls.add('typeSelector', {
            left: 35,
            top: 5
        });

        ymaps.route([
            'Москва, метро Смоленская',
            {
                // Метро Арбатская - транзитная точка (проезжать через эту точку,
                // но не останавливаться в ней).
                type: 'viaPoint',
                point: 'Москва, метро Арбатская'
            },
            // Метро "Третьяковская".
            [55.74062, 37.62561]
        ], {
            // Автоматически позиционировать карту.
            mapStateAutoApply: true
        }).then(function (route) {

            myMap.geoObjects.add(route);

            button.click(function () {
                if (startEditing = !startEditing) {
                    // Включаем редактор.
                    route.editor.start({ addWayPoints: true });
                    button.val('Отключить редактор маршрута');
                } else {
                    // Выключаем редактор.
                    route.editor.stop();
                    button.val('Включить редактор маршрута');
                }
            });
        }, function (error) {
            alert("Возникла ошибка: " + error.message);
        });
    }
});

</script>

<div id="map"></div>
<input id="editor" type="button" name="start" value="Отключить редактор маршрута">
<div id="map-canvas"></div>
<div id="total"></div>

